.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 65px 1rem 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.navbar {
    & .navbar-toggler {
        right: 1rem;
    }
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: $primary-flower;
}

.content {
    overflow: hidden;
    padding: 2rem 1rem;
    transition: all 0.3s;
}

.modal-upload {
    width: 300px;
    height: 100%;
    margin: 0 auto;
    background: $white-flower;
    padding: 40px;
}

#mediaFile {
    position: absolute;
    top: -1000px;
}

#profile {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    position: relative;
    top: -60px;
    margin-bottom: -30px;
    cursor: pointer;
    background: #f4f4f4;
    display: table;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 5px 8px rgba($dark-flower, 0.35);

    .dashes {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 100%;
        width: 100%;
        height: 100%;
        border: 4px dashed #ddd;
        opacity: 1;
    }

    label {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        padding: 0 30px;
        color: $dark-50-flower;
        opacity: 1;
    }

    &.dragging {
        background-image: none !important;

        .dashes {
            animation-duration: 10s;
            animation-name: spin;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            opacity: 1 !important;
        }

        label {
            opacity: 0.5 !important;
        }
    }

    &.hasImage {

        .dashes,
        label {
            opacity: 0;
            pointer-events: none;
            user-select: none;
        }
    }
}


.editable {
    position: relative;

    & i {
        position: absolute;
        top: 10px;
        right: -20px;
        opacity: 0.3;
    }

    & h1 {
        text-align: center;
        font-size: 28px;
        font-weight: normal;
        letter-spacing: 1px;
        padding: 5px 0;
        color: $dark-25-flower;
        border-bottom: 1px solid $dark-50-flower;
    }
}

.btn-upload {
    width: 100%;
    -webkit-appearance: none;
    line-height: 40px;
    color: $white-flower;
    border: none;
    background-color: $primary-flower;
    margin-top: 30px;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;

    &:hover {
        background-color: $white-flower;
        border: 1px solid $primary-flower;

    }
}

#show-password {
    & button {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        min-width: 70px;
        min-height: 100%;
        max-height: 100%;
    }

    & label {
        z-index: 3;
    }
}

// ----- Mobile styles -----
@media only screen and (max-device-width: 736px) {}