<header class="navbar navbar-dark sticky-top bg-dark-flower navbar-expand-md flex-md-nowrap p-2 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Company name</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    {% if not user.is_authenticated %}
    <div class="navbar-nav mx-auto me-md-0 ms-md-auto flex-row">
        <div class="nav-item text-nowrap">
            <a class="nav-link px-3" href="/login"><i class="bi bi-person"></i> Iniciar sesión</a>
        </div>
        <div class="nav-item text-nowrap">
            <a class="nav-link px-3" href="/sign-up"><i class="bi bi-person-lines-fill"></i> Crear cuenta</a>
        </div>
    </div>
    {% endif %}
</header>