<!-- Modal -->
<div class="modal fade" id="modal-message" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modalMessageLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body p-4">
                <div class="row text-center">
                    <div class="col-12">
                        <h3 class="modal-title text-bold" id="modalMessageLabel"></h3>
                        <p id="modal-text"></p>
                    </div>
                    <div class="col-12">
                        <button type="button" class="btn btn-flower outlined-blue shadow-sm" data-bs-dismiss="modal">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>