<div id="sidebarMenu"
    class="col-md-3 col-lg-2 d-md-block sidebar flex-column flex-shrink-0 collapse text-white bg-dark-flower">
    <a href="/" class="d-flex align-items-center mb-3 mt-5 mt-sm-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <img src="/static/assets/img/icons/flor-de-cerezo.png" alt="flor-de-cerezo" class="img-fluid mx-auto"
            width="80" />
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li>
            <a href="/acercade" class="nav-link text-white {{ 'active' if active_page == 'acercade' else '' }}">
                <i class="bi bi-brightness-alt-high"></i>
                Acerca de
            </a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
            <a href="/" class="nav-link text-white {{ 'active' if active_page == 'home' else '' }}" aria-current="page">
                <i class="bi bi-image-alt"></i>
                ¿Qué flor es?
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <i class="bi bi-flower2"></i>
                Mis plantas
            </a>
        </li>
        {% endif%}
    </ul>
    <hr>
    {% if user.is_authenticated %}
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://picsum.photos/200" alt="" class="rounded-circle me-2" width="32" height="32">
            <strong>{{ user.username }}</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="/profile">Perfil</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/logout">Cerrar sesión</a></li>
        </ul>
    </div>
    {% endif %}
</div>