{% extends "base.html" %}
{% block title %} Inicio {% endblock %}
{% set active_page = "home" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center mb-5">
            <h1 class="text-bold">¿Qué flor es?</h1>
        </div>
        <div class="col-12">
            <form action="/classify-flower" method="POST" enctype="multipart/form-data">
                <div class="modal-upload shadow">
                    <div id="profile">
                        <div class="dashes"></div>
                        <label>Haga clic para buscar o arrastrar una imagen aquí</label>
                    </div>
                    <div class="editable">
                        <h1>Lorem ipsum</h1>
                    </div>
                    <button type="submit" class="btn btn-upload shadow-sm">Subir imagen</button>
                </div>
                <input type="file" id="mediaFile" name="image" accept="image/png, image/jpeg" />
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="/static/assets/js/upload.min.js"></script>
{% endblock javascripts %} %}