{% extends "base.html" %}
{% block title %} Mis flores {% endblock %}
{% set active_page = "myflowers" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="col-12 text-center mb-4">
                <h1 class="fw-bold">Mis <span>flores</span></h1>
            </div>
            <div class="col-12">
                <div class="row">
                    {% for flower in flowers %}
                    <div class="col-12 col-sm-6 col-lg-4 text-center">
                        <img src="{{ flower.path }}" alt="{{flower.name}}" class="img-fluid rounded-3" width="250" />
                        <p class="text-uppercase fw-bold m-0">{{ flower.name }}</p>
                        <small>{{ flower.date_created.strftime('%d/%B/%Y') }}</small>
                    </div>
                    {% endfor %}

                    {% if flower_len <= 0 %}
                    <div class="col-12 text-center">
                        <h3 class="text-uppercase fw-bold">Aún no tiene flores registradas</h3>
                        <a href="/what-flower-is-it" class="btn btn-flower outlined-blue mx-auto">Registrar flores</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}